body {
  font-family: "raleway", serif;
  margin: 0%;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  margin-left: 2%;
  margin-right: 2%;  
}
/*liste lien menu nav*/
ul {
  list-style-type: none;
  display: flex;
  justify-self: flex-end;
}
/*lien ancres nav*/
#menu a {
  text-decoration: none;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
}

#menu li{
  padding-top: 20px;
  padding-left: 50px;
}

li span{
    color: #0065fc;
    font-weight: bold;
    text-decoration: none;
}
/*liens nav au survol souris*/
#menu li :hover {
  border-top: 2px solid #0065fc;
  color: #0065fc;
  padding-top: 20px;

}
/*logo site*/
#logo img {
  height: 40px;
  padding-top: 20px;
}

/* section */
/*section 1*/
#section1{
    margin-left: 2%;
    margin-right: 2%;
}
#section1 h1{
  font-size: 1.2em;
}
#section1 p{
  font-size: 0.9em;
}


/*bloc recherche*/
#recherche {
  display: flex;
}
/*formulaire*/
form {
  display: flex;
}
/*bouton recherche*/
.bouton {
  background-color: #0065fc;
  color: white;
  border: 0px;
  border-radius: 0px 10px 10px 0px;
  width: 110px;
}
/*icone geolocalisation*/
.fa-map-marker-alt {
  background-color: #f2f2f2;
  border: 12px solid #f2f2f2;
  border-radius: 10px 0px 0px 10px;
  align-self: center;
}
/*zone de txt formulaire*/
#zdt {
  display: flex;
  align-items: center;
  height: 39px;
  border: 2px solid #f2f2f2;
  border-right: none;
  border-radius: 10px 0 0 10px;
  border-left: none;
}
/*zone de txt formulaire*/
input {
  height: 40px;
  width: 200px;
  border: #f2f2f2;
  border-right: none;
  font-weight: bold;
  padding-left: 15px;
}
/*bloc filtres*/
#filtres {
  display: flex;
  align-items: center;
}
/*txt filtres*/
#filtres span {
  font-weight: bolder;
  margin-left: 10px;
  margin-right: 20px;
  color: black;
}

/*bloc filtres*/
#filtre_eco,
#filtre_fam,
#filtre_rom,
#filtre_ani {
  display: flex;
  align-items: center;
}
/*filtre economique*/
#filtre_eco {
  border: 2px solid #D9D9D9;
  border-radius: 40px 40px 40px 40px;
  width: fit-content;
  border-left: none;
  margin-right: 20px;
  height: 39px;
}
/*filtre economique survol souris*/
#filtre_eco :hover {
  color: #0065fc;
}
/*filtre familial*/
#filtre_fam {
  border: 2px solid #D9D9D9;
  border-radius: 40px 40px 40px 40px;
  width: fit-content;
  border-left: none;
  margin-right: 20px;
  height: 39px;
}
/*filtre familial survol souris*/
#filtre_fam :hover {
  color: #0065fc;
}
/*filtre romantique*/
#filtre_rom {
  border: 2px solid #D9D9D9;
  border-radius: 40px 40px 40px 40px;
  width: fit-content;
  border-left: none;
  margin-right: 20px;
  height: 39px;
}
/*filtre romantique survol souris*/
#filtre_rom :hover {
  color: #0065fc;
}
/*filtre animaux*/
#filtre_ani {
  border: 2px solid #D9D9D9;
  border-radius: 40px 40px 40px 40px;
  width: fit-content;
  border-left: none;
  height: 39px;
}
/*filtre animaux survol souris*/
#filtre_ani :hover {
  color: #0065fc;
}
/*icones filtres*/
.fa-money-bill-wave,
.fa-child,
.fa-heart,
.fa-dog {
  color: #0065fc;
  vertical-align: sub;
  padding-top: 12px;
}
/*cercle background eco*/
.cercle_eco {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #deebff;
  border: 1px solid #deebff;
  text-align: center;
  align-self: center;
  margin-right: 5px;
}
/*cercles background familial romantique et animaux*/
.cercle_fam,
.cercle_rom,
.cercle_ani {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #deebff;
  border: 1px solid #deebff;
  text-align: center;
  align-self: center;
  margin-right: 5px;
}
/*bloc info*/
.info {
  display: flex;
}
/*icone info*/
.fa-info {
  color: #0065fc;
  font-size: 0.8em;
}
/*cercle background icone info*/
#cercle {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: white;
  border: 1px solid #f2f2f2;
  text-align: center;
  align-self: center;
  margin-right: 10px;
}
/*section 2*/
#section2 {
  display: flex;
  margin-bottom: 50px;
  margin-left: 2%;
  margin-right: 2%;
}

/*bloc populaires*/
.pop {
  display: flex;
  align-items: baseline;
}
.pop h2{
  font-size: 1.2em;
  margin-left: 40px;
  margin-right: 170px;
}

/*bloc hebergements*/
#hebergements {
  background-color: #f2f2f2;
  width: 70%;
  border-radius: 20px;
  margin-right: 20px;
}
#hebergements h2{
  font-size: 1.2em;
  margin-left: 45px;
}
#hebergements p{
  margin-left: 45px;
}

/*liens hebergements et populaires*/
#hebergements a,
#populaires a {
  text-decoration: none;
}
/*legendes hebergements*/
.leg_heb {
  margin-left: 10px;
}
/*couleurs liens*/
.lien {
  color: black;
}
/*couleurs icone etoiles bleues*/
.blue {
  color: #0065fc;
}
/*couleurs icone etoiles grises*/
.grey {
  color: #d9d9d9;
}
/*bloc aside (populaire)*/
aside {
  background-color: #f2f2f2;
  margin-left: 20px;
  border-radius: 20px;
}
/*legendes populaires*/
.leg_pop {
  margin-left: 20px;
  padding-top: 10px;
}
/*figures bloc hebergements*/
.figs {
  display: flex;
  flex-wrap: wrap;
}
/*images hebergements*/
#cannebière img,
#hotel_port img,
#mouettes img,
#mer img,
#panier img,
#amina img {
  width: 230px;
  height: 100px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
/*bordures images hebergements*/
#cannebière,
#hotel_port,
#mouettes,
#mer,
#panier,
#amina {
  border: 5px white solid;
  background-color: white;
  border-radius: 20px;
}
/*images populaire*/
#matin img,
#coeur img,
#bleu img {
  width: 100px;
  height: 115px;
  border-radius: 20px 0px 0px 20px;
  object-fit: cover;
}
/*bordures images populaires*/
#matin,
#coeur,
#bleu {
  display: flex;
  align-items: flex-start;
  border: 3px white solid;
  background-color: white;
  border-radius: 20px;
}
/*section 3*/
#section3{
    margin-left: 2%;
    margin-right: 2%;
}
/*figures activités*/
.figact {
  display: flex;
  justify-content: space-between;
}
/*paragraphes figures activites*/
.figact p {
  margin-left: 20px;
}
/*bloc activités*/
#activites {
  margin-bottom: 50px;
}
/*liens activités*/
#activites a {
  text-decoration: none;
}
/*images port et parc*/
#port img,
#parc img {
  width: 290px;
  height: 360px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
/*bordures et marges figures activités*/
#port{
    border: 0px white;
    border-radius: 20px;
    box-shadow: 1px 1px 10px #d9d9d9;
    margin-left: 0%;
}
#pomegues{
    border: 0px white;
    border-radius: 20px;
    box-shadow: 1px 1px 10px #d9d9d9;
    margin-left: 0%;
}
#iles{
    border: 0px white;
    border-radius: 20px;
    box-shadow: 1px 1px 10px #d9d9d9;
    margin-left: 0%;
}
#parc{
    border: 0px white;
    border-radius: 20px;
    box-shadow: 1px 1px 10px #d9d9d9;
    margin-left: 0%;
}
#garde{
    border: 0px white;
    border-radius: 20px;
    box-shadow: 1px 1px 10px #d9d9d9;
    margin-right: 0%;
    margin-left: 0%;
}
#longchamp {
  border: 0px white;
  border-radius: 20px;
  box-shadow: 1px 1px 10px #d9d9d9;
  margin-right: 0%;
  margin-left: 0%;
}
/*legendes figures activités*/
#port figcaption,
#pomegues figcaption,
#iles figcaption,
#parc figcaption,
#garde figcaption,
#longchamp figcaption {
  height: 50px;
}
/*image pomegues*/
#pomegues img {
  width: 340px;
  height: 140px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
/*images iles*/
#iles img {
  width: 340px;
  height: 100px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
/*images garde longchamp*/
#garde img,
#longchamp img {
  width: 290px;
  height: 120px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
/*positions figures fort_iles et garde_longchamp*/
.fort_iles,
.garde_longchamp {
  display: grid;
  align-content: space-between;
}
/* footer */
/*display footer*/
footer {
  display: flex;
  background-color: #f2f2f2;
}
/*position bloc a propos*/
#a_propos{
    margin-left: 45px;
}
/*position bloc hebergement footer*/
#nos_hebergements {
  margin-left: 280px;
}
/*position bloc assistance footer*/
#assistance {
  margin-left: 300px;
}
